.adminPage {
	align-items: center;
	background-color: rgb(245 245 245);
}

.adminPage .headerBackground {
	background-size: cover;
	background-attachment: fixed;
	height: 200px;
	width: 100%;
	background-color: #76B900;
}

.adminPage .container {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	width: 80%;
	margin: 15px 0px;
	padding: 15px 20px;
	border: solid 1px rgb(200,200,200);
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.10);
	cursor: pointer;
}

.adminPage .container:nth-child(2) {
	margin-top: -50px;
}

.adminPage .header {
	color: rgb(132 133 137);
	font-size: 24px;
}

.adminPage .subHeader {
	color: rgb(132 133 137);
}

.adminPage .listContainer {
	flex-direction: column;
}

.adminPage .listItem:nth-child(1) {
	border-top: solid 1px rgb(189 190 192);
	margin-top: 20px;
}
.adminPage .listItem {
	border-bottom: solid 1px rgb(189 190 192);
	padding: 10px;
}

.adminPage .itemContainer {
	display: flex;
}

.adminPage .itemIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	width: 40px;
	height: 40px;
	font-size: 20px;
	border-radius: 20px;
	color: rgb(226 226 226);
	border: solid 1px rgb(132 133 137);
	background-color: rgb(255 114 0);
}